<div class="admin-title">
    <h2>Add New Blog</h2>
</div>

<div class="form m-3">
    <form action="/admin/Dashboard/Blogs/createBlog" method="post">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control pt-2 pb-2" id="title" name="title" placeholder="Enter a title">
        </div>

        <div class="mb-3">
            <label for="body" class="form-label">Content</label>
            <textarea class="form-control" id="body" cols="30" rows="10" name="body"></textarea>
        </div>

        <input type="submit" class="btn btn-success" value="Save" name="addBlog">
    </form>
</div>