<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/css/notesStyle.css">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/homeStyle.css">
    
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
    </style>
    <title>
        <%= locals.title %>
    </title>
</head>

<body>
    <div class="Container">
        <%- include("../partials/header.ejs") %>
            <main class="mainContent">
                <%- body %>
            </main>
            <%- include("../partials/footer.ejs") %>
    </div>
</body>



</html>