
<div class="homecontainer">
    <div class="description">
        <h1>Welcome to </h1>
        <h1>Achiever's Institute</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates quis quam quisquam aspernatur voluptas. Quidem, omnis cumque doloremque quia earum necessitatibus, commodi eos aut nam rem at vel perspiciatis accusamus!</p>
    </div>

    <div class="webImage">
        <img src="https://res.cloudinary.com/highereducation/image/upload/v1533591754/TheBestColleges.org/study-notebooks.jpg" alt="#">
    </div>
</div>

<section class="note_section">

</section>

<section class="testimonials">

</section>