<main class="notes-grid">

    <% data.forEach(post => { %>
        <div class="note" style="display: flex; flex-direction: column; align-items: center; height: auto;">
            <img src="/uploads/images/<%= post.note_image %>" alt="" style="width: 120px; height: 120px; border-radius: 50%;">
            <p style="margin: .8rem 0 .4rem 0; font-size: 20px;"><%= post.title %></p>
            <p style="margin: .2rem 0 1rem 0; font-size: 15px; color: rgb(104, 104, 102);">Download Note Here</p>
            <a href="/uploads/noteFiles/<%= post.note_file %>" 
                style="padding: .4rem .5rem; margin-top: auto; margin-bottom: 1rem; padding: auto; background-color: rgb(123, 53, 188); color: #fff; text-decoration: none; padding: 1rem 2rem; border-radius: 30px;">
                Download
            </a>
        </div>
    <% }) %>
    <div class="note">1. Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, totam?</div>
    <div class="note">2. Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore consequatur et, sequi quas sit est!</div>
    <div class="note">3. Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, impedit?</div>
    <div class="note">4. Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, impedit?</div>
    <div class="note">5. Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, impedit?</div>
    <div class="note">6. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut neque beatae expedita corrupti est commodi similique nemo quidem?</div>
</main>