<main class="notes-grid">

    <% data.forEach(post => { %>
        <div class="note">
            <b><%= post.title %></b>
            <!-- <p><%=  %></p> -->
        </div>
    <% }) %>
    <div class="note">1. Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, totam?</div>
    <div class="note">2. Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore consequatur et, sequi quas sit est!</div>
    <div class="note">3. Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, impedit?</div>
    <div class="note">4. Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, impedit?</div>
    <div class="note">5. Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, impedit?</div>
    <div class="note">6. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut neque beatae expedita corrupti est commodi similique nemo quidem?</div>
</main>