<section class="reviews">
    <form action="">
        <div class="input-item">
            <p>Full Name:</p>
            <input type="text" name="fname" value="">
        </div>

        <div class="input-item">
            <p>Email ID:</p>
            <input type="email" name="email" value="">
        </div>

        <div class="input-item">
            <p>Your Remarks:</p>
            <textarea name="remarks" id="" cols="30" rows="8"></textarea>
        </div>

        <div class="submitReview">
            <input type="submit" name="reviewBtn" class="reviewBtn" value="Submit">
        </div>

    </form>
</section>